main {


header {
    height: 10vh;
    background-color: rgba(233, 233, 233, 1);


.cont-1 {
    display:flex;
    flex-direction: rows;
    justify-content:space-between;


.sub-cont-1 {
    display: flex;
    align-items: center;

.dx-1 {
    width: 8.75em;
    mix-blend-mode: darken;
}


.h-1 {
    padding-right: 2em;
}

}

}

}

main {
    display: flex;
    justify-content: center;
    background-color: rgba(96, 96, 96, 1) ;
    height: 80vh;


.vf-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


.ct-1 {
    margin-top: 3.5em;
    margin-bottom: 1em ;
    background-color: #fff;
    border-radius: 2.5em;
    text-align: center;
    align-self: center;
    width: 17.5em;
    padding: 14px;
    padding-bottom: 30px;
    height: 10px;
    font-size: 1.2em;
    font-family: Arial;
}

.ct-1-2 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1em;
    width: 110em;
    height: 37em;


.ct-2-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    flex-direction: row;
    font-weight: bold;


.p-nm {
    background-color: #000;
    color: #fff;
    margin-left: 5.4em;
    padding: 20px 70px 20px 70px;
    border-radius: 2em;
}

.p-p {
    background-color: #000;
    color: #fff;
    margin-right: 10em;
    padding: 20px 80px 20px 80px;
    border-radius: 2em;
}

.p-a {
    background-color: #000;
    color: #fff;
    padding: 20px 70px 20px 70px;
    border-radius: 2em;
    margin-right: 5em;
    margin-left: em;
}

.p-dt-hr {
    background-color: #000;
    color: #fff;
    margin-right: 4.2em;
    padding: 20px 70px 20px 70px;
    border-radius: 2em;
}

}

}

.ct-2 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 30em;
    padding-top: 2em;
    width: 84.5em; 
    font-size: 1.3em;


table {
    border-collapse: collapse;
    text-decoration: underline;
    font-size: 1.3em;
    font-family: Arial;


.tbx-1 {
    width: 22em;    
}

.tbx-2 {
    width: 24em;
}

.tbx-3 {
    width: 44em;
    
}
.tbx-5 {
    width: 20em;
}

}

}

}

}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgba(96, 96, 96, 1);
    height: 14vh;
}

.zx-1 {
    height: 3.7em;
    mix-blend-mode: darken;
    margin-left: 1em;
    margin-bottom: 1.5em;
}

.zx-2 {
    border-radius: 4em;
    height: 45px;
    margin-bottom: 3em;
    margin-right: 2em;
    font-weight: bold;

}

}